.body, .body-2, .body-3 {
    display: flex;
}

.michelle, .section-2 .dale, .robert {
    width: 240px;
    border: 1px solid green;
    word-wrap:break-word;
    height: 162.12px;
    /* text-align: center;
    display: flex;
    justify-content: center; */
    /* align-items: center; */
    border: 1px solid green;
}
.section-1, .section-2, .section-3 {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    padding: 10px;
}
.body .section-1 {
   order: 2;
}
.body-3 .section-2 {
    order: -1;
}
.new-body {
    display: flex;
    flex-direction: column;
}
.new-body .header {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid green;
    align-items: center;
}
.new-body .red {
    border: 1px solid red;
}
.new-body .black {
    border: 1px solid black;
}
.new-body .blue {
    border: 1px solid blue;
}
.new-body .yellow {
    border: 1px solid yellow;
}
