.outer-box {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.outer-box >*{ 
    flex: 1;
}
.box-1 {
    width: 200px;
    height: auto;
    border: 2px solid chartreuse;
    border-radius: 15px;
    padding: 10px;
}
.box-1 h3 {
    margin-top: 4px;
}
.box-2 {
    width: 400px;
    height: auto;
    border: 2px solid chartreuse;
    padding-bottom: 0px;
}
.box-2 p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.box-3 {
    border: 2px solid chartreuse;
}