* {
    margin: 0;
    padding: 0;
}

.header {
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: space-between; */
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 10px;
}
.header-left, .header-middle, .header-right {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.header div {
    flex-shrink: 0;
}
.nav-list {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    list-style: none;
    /* gap: 1em; */
    width: auto;
    border: 1px solid blue;
}
.nav-list li{
    /* flex: 1; */
    /* justify-content: flex-end; this will flex end the items inside the box*/
    border: 1px solid chartreuse;

}