* {
    margin: 0;
    padding: 0;
}

.header {
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: space-between; */
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 10px;
}
.header-left, .header-middle, .header-right {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-left {
    flex-grow: 1;
    padding: 10px;
}
.header-middle {
    flex-basis: 100%;
}
.header-right {
    flex-shrink: 0;
}